# Python function/s is a block of code and it runs only when called

In [1]:
def speed():
    # This function calculates speed.
    
    print("distance/ time")

In [2]:
speed()

distance/ time

In [5]:
def speed(distance, time):
    # This function calculates speed.
    speed = distance/ time
    print(f"When distance is {distance} kms with travel time {time} hrs then you are accelerating at a speed {speed} kms/h")
    return(speed)

In [7]:
s = speed(550,6)

When distance is 550 kms with travel time 6 hrs then you are accelerating at a speed 91.66666666666667 kms/h

### Write a Python function to find the Max of three numbers

In [7]:


1,2,3
1,3,2

2,3,1
2,1,3

3,1,2
3,2,1

def MaxIdentifier(N1,N2,N3):
    if N1 > N2 > N3:
        return N1
    elif N1 > N3 > N2:
        return N1
    
    elif N2 > N3 > N1:
        return N2
    elif N2 > N1 > N3:
        return N2
    
    elif N3 > N2 > N1:
        return N3
    elif N3 > N1 > N2:
        return N3
    elif N1 == N2 == N3:
        return N1

In [9]:
print("max of 123 is ", MaxIdentifier(1,2,3))
print("max of 132 is ", MaxIdentifier(1,3,2))

print("max of 231 is ", MaxIdentifier(2,3,1))
print("max of 213 is ", MaxIdentifier(2,1,3))

print("max of 321 is ", MaxIdentifier(3,2,1))
print("max of 312 is ", MaxIdentifier(3,1,2))

print("max of 729 is ", MaxIdentifier(7,2,9))
print("max of -101 is ", MaxIdentifier(-1,0,1))

print("max of 111 is ", MaxIdentifier(1,1,1))
print("max of 000 is ", MaxIdentifier(0,0,0))

max of 123 is  3
max of 132 is  3
max of 231 is  3
max of 213 is  3
max of 321 is  3
max of 312 is  3
max of 729 is  9
max of -101 is  1
max of 111 is  1
max of 000 is  0

In [10]:
def max_of_two(N1,N2):
    if N1 > N2:
        return N1
    return N2

def max_of_three(N1,N2,N3):
    return max_of_two(N1, max_of_two(N2,N3))

In [11]:
print("max of 123 is ", max_of_three(1,2,3))
print("max of 132 is ", max_of_three(1,3,2))

print("max of 231 is ", max_of_three(2,3,1))
print("max of 213 is ", max_of_three(2,1,3))

print("max of 321 is ", max_of_three(3,2,1))
print("max of 312 is ", max_of_three(3,1,2))

print("max of 729 is ", max_of_three(7,2,9))
print("max of -101 is ", max_of_three(-1,0,1))

print("max of 111 is ", max_of_three(1,1,1))
print("max of 000 is ", max_of_three(0,0,0))

max of 123 is  3
max of 132 is  3
max of 231 is  3
max of 213 is  3
max of 321 is  3
max of 312 is  3
max of 729 is  9
max of -101 is  1
max of 111 is  1
max of 000 is  0

In [35]:
def Twonum(N1,N2):
    if N1 > N2:
        return N1
    return N2
def ThreeNum(N1,N2,N3):
    return Twonum(N1,Twonum(N2,N3))

In [36]:
print("Max number of 10,12,18 is " ,ThreeNum(10,18,12))

Max number of 10,12,18 is  18

In [ ]:
[10,2,3,4,6,8,7,9,1]

def sum_of_numbers(input_list):
    # variable to store the results
    Sum=0
    
    for i in input_list:
        if type(i) == int:
        # Sum = Sum + i
            Sum +=i
        else:
            pass
    return Sum

In [29]:
s = 0
for i in [10,2,3,4,6,8,7,9,1]:
    s = s + i
    print(s)

10
12
15
19
25
33
40
49
50

In [25]:
print(sum_of_numbers([10,2,8]))
print(sum_of_numbers([10,-2,8]))
print(sum_of_numbers(['a',2,8]))

20
16
10

In [21]:
def num(numbers):
    sum=0
    for i in numbers:
        sum+=i
        return sum

In [23]:
print(sum((1,2,3,)))

6

### Write a Python Function to multiply all the numbers in a list

In [34]:
def multiply(num):
    total = 1
    
    for x in num:
        total *= x
    return total

In [37]:
print(multiply([2,3,8]))

48

In [33]:
def multiply(number):
    value = 10
    for i in number:
        value *= i 
    return value
    
print(multiply([2,3,4]))

60

# Write a program to reverse a string

In [57]:
text = "Hello Meena"
len(text)

11

In [46]:
print(text)

Hello Meena

In [71]:
reverse = "Hello you are reading this text in reversing order" [::-1]

In [72]:
print(reverse)

redro gnisrever ni txet siht gnidaer era uoy olleH

In [47]:
for e in range(len(text)):
    print(e)

0
1
2
3
4
5
6
7
8
9
10

In [49]:
for e in text:
    print(e)

H
e
l
l
o

M
e
e
n
a

In [52]:
for e in text:
    if e == 'e':
        print('e')
    else:
        print('0')

0
e
0
0
0
0
0
e
e
0
0

In [54]:
for e in range(len(text)):
    if text[e] == 'e':
        print(e)
    else:
        print('#')

#
1
#
#
#
#
#
7
8
#
#

In [72]:
# 'Hello Meena' we need to reverse this:

r = len(text) - 1 # r = 11(Hello Meena) - 1 (this is because looping starts with 0 index)
results = ""
for e in range(len(text)):
    k = text[r]
    results += k
    r -=1
results

'aneeM olleH'

In [60]:
text[10]

'a'

In [68]:
text

'Hello Meena'

In [70]:
len(text)

11

In [71]:
text[10]

'a'

In [73]:
string ='Learn Python'
print(string)

Learn Python

In [79]:
a = len(string) - 1
output = ''
for b in range (len(string)):
    c = string[a]
    output += c
    a -= 1
    
output

'nohtyP nraeL'

In [10]:
def my_function():
    print("when I call my_function you see this message !!!")

In [11]:
my_function()

when I call my_function you see this message !!!

#### Using f method

In [13]:
def my_functions(fname):
    print(fname + "" +"mills")
    
my_functions("laslie")

lasliemills

In [14]:
my_functions("KeerthANA")

KeerthANAmills

### Arguments

In [18]:
def my_name_function (fname,lname):
    print(fname +"" +lname)  
print(my_name_function ("James","Bomd"))

JamesBomd
None